*{margin: 0;

}
img{
    max-width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(173, 50, 50);
    color: rgb(83, 83, 83);
    height: 25vh;
    text-align: center;
}
header h1{
    font-size: 3rem;
    color: rgb(231, 231, 61);
}
header p{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;

}
h3{
    font-size: 2rem;
    margin-top: 3rem;
}
main{
    height: 50vh;
}
.container{
    width: 80%;
    margin: 2rem auto;
}
.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}
.character img{
    width: 20rem;
    height: 20rem;
}
button{
    background-color: rgb(173, 50, 50);
    color: rgb(231, 231, 61);
    border: 1px solid black;
    font-size: 1.2rem;
    padding: .2rem;
    cursor: pointer;
    border-radius: 5px;
}
.button{
    display: flex;
    flex-direction: column;
    position: absolute;
}
footer{
    height: 15vh;
    background-color: black;
    color: white;
    text-align: center;
}